.main-content {
    position: relative;
    overflow: visible;
    width: 60%;
    max-width: 1200px;
    margin-left: 10%;
    float: none;
    clear: none;
  }
  .main-content:after {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-transition: all 0.8s cubic-bezier(0.79, 0, 0.05, 0.83);
    transition: all 0.8s cubic-bezier(0.79, 0, 0.05, 0.83);
    background-color:red;
  }