  
  .main-content {
    position: relative;
    overflow: visible;
    width: 60%;
    max-width: 1200px;
    margin-left: 10%;
    float: none;
    clear: none;
  }
  
  .main-content:after {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-transition: all 0.8s cubic-bezier(0.79, 0, 0.05, 0.83);
    transition: all 0.8s cubic-bezier(0.79, 0, 0.05, 0.83);
    background-color:red;
  }
  
  .main-content.active:after {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    background-color:red;
  }
  
  .heading,
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 800;
    text-transform: uppercase;
  }
  
  .heading {
    font-size: 38px;
  }
  
  .btn {
    border-radius: 6px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  
  .btn.btn-primary {
    background-color: #31E7B6;
    border-color: #31E7B6;
  }
  
  .btn.btn-primary:hover {
    background-color: #32d2a7;
    border-color: #32d2a7;
  }
  
  .btn.btn-primary:active {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    background-color: #32d2a7;
    border-color: #32d2a7;
  }
  
  .btn-dark-faded {
    font-weight: 300;
    font-family: 'Montserrat', sans-serif !important;
    /*text-transform: uppercase;*/
    background-color: rgba(0, 0, 0, 0.07);
    color: black;
  }
  
  section {
    padding: 10%;
  }
  
  section .heading {
    margin-bottom: 30px;
  }
  
  section.yellow {
    background-color: #ffd061;
    color: #000 !important;
  }
  
  section.yellow .progress .bg-blue {
    background-color: #c19c43;
  }
  
  section.voilet {
    background-color: #4768FD;
  }
  
  section.blue {
    background-color: #cadfdf;
  }
  
  section.orange {
    color: #fff;
    background-color: #fb7833;
  }
  
  section.green {
    background-color: #aaffa7;
  }
  
  section.skin {
    background-color: #fdead2;
  }
  
  section.aqua {
    background-color: #00fefe;
    color: #000 !important;
  }
  
  section.pink {
    background-color: #fff1f1;
  }
  
  .progress {
    height: 0.6rem;
    background-color: #fff;
  }
  
  .progress .bg-blue {
    background-color: #2e96a5;
  }
  
  .card {
    border-radius: 6px;
    border: none;
  }
  
  #timeline {
    width: 100%;
    position: relative;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  
  #timeline:before {
    content: "";
    width: 3px;
    height: 100%;
    background: #000;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    top: 0;
    position: absolute;
  }
  
  #timeline:after {
    content: "";
    clear: both;
    display: table;
    width: 100%;
  }
  
  #timeline .timeline-item {
    margin-bottom: 50px;
    position: relative;
    text-align: right;
  }
  
  #timeline .timeline-item .timeline-icon {
    background: #000;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    left: 50%;
    overflow: hidden;
    margin-left: -10px;
    border-radius: 50%;
  }
  
  #timeline .timeline-item .timeline-content {
    width: 45%;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  
  #timeline .timeline-item .timeline-content p {
    color: rgba(0, 0, 0, 0.7);
  }
  
  #timeline .timeline-item .timeline-content .date {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 3px;
  }
  
  #timeline .timeline-item .timeline-content.right {
    float: right;
    text-align: left;
  }
  
  .skill {
    margin-bottom: 20px;
  }
  
  @media (max-width: 767px) {
    .sidebar {
      position: static;
      width: 100%;
      padding-left: 65px;
    }
    .main-content {
      width: 100%;
      margin-left: 0%;
    }
    #timeline {
      margin: 30px;
      padding: 0px;
      width: 90%;
    }
    #timeline:before {
      left: 0;
    }
    #timeline .timeline-item .timeline-content {
      width: 90%;
      float: right;
      text-align: left;
    }
    #timeline .timeline-item .timeline-content:before,
    #timeline .timeline-item .timeline-content .right:before {
      left: 10%;
      margin-left: -6px;
      border-left: 0;
      border-right: 7px solid #ee4d4d;
    }
    #timeline .timeline-item .timeline-icon {
      left: 0;
    }
  }

  /*# sourceMappingURL=styles.css.map */